<% transaction = entry.parsed_details.params['braintree_transaction'] %>
<tr>
  <td><%= t('spree.message', :scope => [:log_entry, :braintree]) %></td>
  <td><%= entry.parsed_details.message %></td>
</tr>
<% if transaction %>
  <tr>
    <td><%= t('spree.status', :scope => [:log_entry, :braintree]) %></td>
    <td><%= transaction['status'] %></td>
  </tr>
  <tr>
    <td><%= t('spree.cc_token', :scope => [:log_entry, :braintree]) %></td>
    <td><%= transaction['credit_card_details']['token'] %></td>
  </tr>
  <tr>
    <td><%= t('spree.customer_id', :scope => [:log_entry, :braintree]) %></td>
    <td><%= transaction['customer_details']['id'] %></td>
  </tr>
<% end %>
<tr>
  <td><%= t('spree.cvv_result', :scope => [:log_entry, :braintree]) %></td>
  <td><%= entry.parsed_details.cvv_result['message'].to_s %></td>
</tr>
<tr>
  <td><%= t('spree.avs_result_title', :scope => [:log_entry, :braintree]) %></td>
  <td>
    <%= t('spree.message', :scope => [:log_entry, :braintree, :avs_result]) %>: <%= entry.parsed_details.avs_result['message'] %><br>
    <%= t('spree.street_match', :scope => [:log_entry, :braintree, :avs_result]) %>: <%= entry.parsed_details.avs_result['street_match'] %><br>
    <%= t('spree.postal_match', :scope => [:log_entry, :braintree, :avs_result]) %>: <%= entry.parsed_details.avs_result['postal_match'] %>
  </td>
</tr>
